// UlbiTV_MiniDrADr =======================================================================================
.UlbiTV_MiniDrADr {
  .MiniDrADr__content {
    width: 100%;
    height: 100%;
    // width: 100vw;
    // height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  border: 5px solid darkred;
  background: #fff;
  box-shadow: 5px 5px 10px 3px #555;
  border-radius: 12px;
  margin: 10px 15px;
  cursor: pointer;
  &:hover {
    font-weight: bold;
    // увелич. важность т.к. в коде использ.цвета
    background: #ff0 !important;
    box-shadow: 3px 3px 7px 0px #555;
    transform: scale(1.1);
  }
}
