// UlbiTV_DrADr =======================================================================================
.UlbiTV_DrADr {
  .DrADr__content {
    // больш. классов с div[class$="__content"]
  }
  .boards {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    .board {
      min-width: 250px;
      // min-height: 250px;
      height: auto;
      padding: 10px 10px 20px;
      margin: 10px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff !important;
      border: 5px solid darkred;
      border-radius: 12px;
      cursor: pointer;

      &__title {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }

  .items {
    width: 95%;
    display: flex;
    flex-direction: column;

    .item {
      // width: 100%;
      // height: 100%;
      padding: 10px;
      margin: 5px 0px;
      text-align: center;
      transition: 0.1s;
      cursor: pointer;
      // background: #ff0;
      border-radius: 5px;
      border: 2px solid darkred;
      box-shadow: 3px 3px 7px 0px #555;
      &:last-child {
        // margin: 5px 0px 0px;
      }

      &:hover {
        font-weight: bold;
        background: gold !important;
        // увелич. важность т.к. в коде использ.цвета
        box-shadow: 5px 5px 10px 3px #555 !important;
        transform: scale(1.1);
      }
    }
  }
}
