// BegPrj_Quiz =======================================================================================

// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

.BegPrj_Quiz {
  div[class*="__content"] {
    width: 55%;
    max-width: 100%;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
    // position: relative;
    margin: 0 auto;
  }

  .result {
    text-align: center;

    button {
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      border-radius: 30px;
      border: 0;
      padding: 15px 30px;
      font-size: 20px;
      background-color: darken(#ff006e, 3%);
      color: #fff;
      margin-top: 20px;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 0;
    }

    img {
      width: 150px;
    }
  }

  .progress {
    width: 100%;
    height: 10px;
    padding: 0px;
    border-radius: 30px;
    background-color: #888888;
    margin-bottom: 25px;

    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: #d8c415;
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, #f1cd00 0%, #a10303 100%);
    }
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 15px;
      background-color: #555;
      border: 2px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        font-weight: bold;
        background-color: #444 !important;
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}
