// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // ??? не раб - SassError: Undefined variable. - min-width: $minwidth;
  // min-width: $minwidth;
  position: relative;
  width: 100%;
  color: #000;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  // ??? не раб - SassError: Undefined variable. - font-family: $fontfamily;
  // font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.lock {
    overflow: hidden;
    @media (max-width: 768px) {
      // ??? не раб - SassError: Undefined variable. - @media (max-width: $md3+px) {
      // @media (max-width: $md3+px) {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
  }
}
input,
button,
textarea {
  // ??? не раб - SassError: Undefined variable. - ont-family: $fontfamily;
  // font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a,
a:visited {
  // text-decoration: none;
}
a:hover {
  // text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-weight: inherit;
  font-size: inherit;
}
p {
  // letter-spacing: normal;
}
span {
  // font-weight: bold;
  // background: #cccccc;
  // letter-spacing: 3px;
  // line-height: 1.3;
}
// hr ----------------------------------------------------------------------------------
hr {
  // display: block;
  // unicode-bidi: -webkit-isolate;
  // unicode-bidi: -moz-isolate;
  // unicode-bidi: isolate;
  // -webkit-margin-before: 7px;
  // margin-block-start: 7px;
  // -webkit-margin-after: 7px;
  // margin-block-end: 7px;
  // -webkit-margin-start: auto;
  // margin-inline-start: auto;
  // -webkit-margin-end: auto;
  // margin-inline-end: auto;
  overflow: hidden;
  border-style: groove;
  border-style: ridge;
  border-color: #8b0000;
  border-width: 5px;
  clear: both;
  // margin: 0 -62px;
}
br {
  // width: 0;
  // height: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
