// ??? не раб - SCSS перем.цвета не обрабат. в CSS. В браузер прилетают названия SCSS. Все перем на CSS

// временно, для наглядности цвета
:root {
  --TrafficRed: #cd0000; // Транспортный красный
  --DarkRed: #8b0000; // темно-красный
  --CrimsonBrown: #4b0000; // коричнево-малиновый
  --VeryDeepRed: #320a18; // Очень глубокий красный
  --WhiteAlum: #a3a3a3; // бело-алюминиевый
  --Gray: #808080; // серый
  --DullGray: #777777; // серый
  --WetAsphalt: #555555; // мокрый асфальта
  --SignalBlack: #333333; // cигнальный черный
  --AlmostBlack: #131313; // Почти черный
  --BlackAmber: #0a0a0a; // Черный янтарь
  --Coffee: #442d25; // Кофейный
  $Coffee: #442d25; // Кофейный
  --NavajoWhite: #ffdead; // Белый навахо
  --YellowBrown: #d2b48c; // Цвет загара (Желто-коричневый)
  // --probCol: antiquewhite;
  // --probCol: bisque;
  // --probCol: moccasin;
  // --probCol: wheat;
  // --probCol: #d2b48c;
  // --probCol: slategrey;
  // --probCol: silver;
  // --probCol: peachpuff;
  // --probCol: lightsteelblue;
  // --probCol: lightslategrey;
  // --probCol: darkgrey;
  // --probCol: rosybrown;
  // --probCol: sienna;
  // --probCol: #79553d; // Бежево-коричневый
  // --probCol: #3d2b1f; // Бистр
  // --probCol: #755c48; // Бледно-коричневый
  // --probCol: #321414; // Ивово-коричневый
  // --probCol: #371f1c; // Темный серо-красно-коричневый
  // --probCol: #45161c; // Бурый
  // --probCol: #490005; // Глубокий красно-коричневый
  // --probCol: #4f0014; // Очень глубокий красный
  // --probCol: #480607; // Болгарский розовый
  // --probCol: #65000b; // Розовый лес
  // --probCol: #721422; // Перламутрово-рубиновый
  // --probCol: #7f180d; // Насыщенный красно-коричневый
  // --probCol: #800000; // Коричнево-малиновый
  // --probCol: #9b111e; // Рубиново-красный
  // --probCol: #b32428; // Ориент красный
  // --probCol: #5e2129; // Винно-красный
  // --probCol: #734222; // Глиняный коричневый
  // --probCol: #593315; // Глубокий желто-коричневый
  // --probCol: #712f26; // Золотисто-каштановый
  // --probCol: #79443b; // Известковая глина
  // --probCol: #633a34; // Каштаново-коричневый
  // --probCol: #a25f2a; // Камелопардовый
  // --probCol: #884535; // Кирпичный
  // --probCol: #b94e48; // Сочный каштановый Крайола
  // --probCol: #af4035; // Средний карминный
  // --probCol: #503d33; // Коричневато-серый
  // --probCol: #442d25; // Кофейный
  // --probCol: #4e3b31; // Темный терракотовый
  // --probCol: #592321; // Красно-коричневый
  // --probCol: #4c2f27; // Махагон коричневый
  // --probCol: #8e402a; // Медно-коричневый
  // --probCol: #904d30; // Терракотовый
  // --probCol: #753313; //   Насыщенный коричневый
  // --probCol: #642424; //   Оксид красный
  // --probCol: #59351f; // Олень коричневый
  // --probCol: #4d4234; // Оливковый серый
  // --probCol: #a65e2e; // Оранжево-коричневый
  // --probCol: #5b3a29; //   Орехово-коричневый
  // --probCol: #3f2512; // Темный желтовато-коричневый
  // --probCol: #32221a; //   Темный серо-коричневый
  // --probCol: #320a18; // Очень темный красный
  // --probCol: #6c3b2a; // Сигнальный коричневый
  // --probCol: #45322e; // Шоколадно-коричневый
  // --probCol: #714b23; // Сырая умбра
  // --probCol: #464451; // Антрацитовый
  // --probCol: #817066; // Средний серый
  // --probCol: #fcdd76; // Песочный
  // --probCol: #967117; // Песочный серо-коричневый
  // --probCol: #cd853f; // Перу
  // --probCol: #2c5545; //   Сосновый зеленый
  // --probCol: #d68a59; //   Сырая охра
  // --probCol: #909090; // Телегрей
  // --probCol: #ff7e00; // Темный янтарь
  --MelonYellow: #f4a900; // Дынно-желтый
  --Gold: #ffd700; // золотой
  --Yellow: #ffff00; // жёлтый
  --BlueGray: #474b4e; // Синий серый
  --DarkBlueGray: #373737; // Тёмно синий серый
  --WetAsphalt: #505050; // Мокрый Асфальта
  // --probCol: #cc5500; // Жженый апельсин (Выгоревший оранжевый)
  //
  // --probCol: #490005; // Глубокий красно-коричневый
  // --probCol: #4f0014; // Очень глубокий красный
  // --probCol: #480607; // Болгарский розовый
  // --probCol: #65000b; // Розовый лес
  // --probCol: #3d2b1f; // Бистр
  // --probCol: #4c2f27; // Махагон коричневый
  // --probCol: #59351f; // Олень коричневый
  // --probCol: #9b111e; // Рубиново-красный
  // --probCol: #442d25; // Кофейный
  // --probCol: #464451; // Антрацитовый
  // --probCol: #5b3a29; //   Орехово-коричневый
  //
  // background-color: #87a96b; //   Спаржа Крайола
  // background-color: #317f43; //   Сигнальный зеленый
  // background-color: #08457e; // Темно-лазурный
  // background-color: #000080; //   Темно-синий
  // background-color: #0067a5; // Средний персидский синий
  // background-color: #1974d2; // Темно-синий Крайола
  // background-color: #00008b; // Темный ультрамариновый
  // background-color: #6a5acd; // Аспидно-синий
  // background-color: #3e5f8a; // Бриллиантово-синий
  // background-color: #0095b6; // Воды пляжа Бонди
  // background-color: #2b6cc4; // Светлый джинсовый
  // background-color: #007dff; // Синий Градуса
  // background-color: #2a52be; // Синяя лазурь (Лазурно-голубой)
  // background-color: #003399; // Синяя пыль
  // background-color: #1b5583; // Капри синий
  // background-color: #0047ab; // Кобальт синий (Кобальтовый)
  // background-color: #4169e1; // Королевский синий
  // background-color: #082567; // Сапфировый
  // background-color: #9370d8; // Средний пурпурный
  // background-color: #9932cc; // Темная орхидея
  // background-color: #660066; //   Сливовый
  // background-color: #8e4585; // Сливовый Крайола
  // background-color: #1d1e33; //   Сапфирово-синий
}

// Цветовые переменные для Цв.Тем (Тёмной/Светлой/Средней) на атрибутах
body[data-theme="dark"] {
  --bg-fon: var(--Coffee);
  --bg-col-el: var(--SignalBlack);
  --activ-col-Yel: var(--MelonYellow);
  --activ-col-RdBr: var(--CrimsonBrown);
  --activ-col-RdBr: #4b0000;
  --activ-col-RdBr: #6b0000;
  --activ-col-RdBr: #8b0000;
  --activ-bg: var(--WetAsphalt);
  --bg-col-inpt: var(--YellowBrown);
  --text-color: #000;
}
body[data-theme="natural"] {
  --bg-fon: var(--YellowBrown);
  --bg-col-el: var(--WetAsphalt);
  --activ-col: var(--Gold);
  --activ-bg: var(--DarkBlueGray);
  --bg-col-inpt: var(--NavajoWhite);
  --text-color: var(--BlackAmber);
}
body[data-theme="light"] {
  --bg-fon: var(--NavajoWhite);
  --bg-col-el: var(--WhiteAlum);
  --activ-col: var(--Yellow);
  --activ-bg: var(--WetAsphalt);
  // --bg-col-inpt: var(#fff);
  --bg-col-inpt: #fff;
  --text-color: var(--AlmostBlack);
}

// ОБЩИЕ СТИЛИ
:root {
  body {
    .header,
    .footer {
      // анимация перехода
      background-color: var(--bg-col-el);
      transition: background-color 900ms linear;
    }
    div nav {
      & a {
        // color: var(--activ-col) !important;
        // background-color: var(--activ-bg) !important;
      }
      & a.active {
        color: var(--activ-col-RdBr) !important;
        background-color: var(--activ-bg) !important;
        transition: background-color 500ms linear, color 200ms linear;
      }
      & a:hover {
        color: var(--activ-col-Yel) !important;
        background-color: var(--activ-bg) !important;
        transition: background-color 500ms linear, color 200ms linear;
      }
    }

    .main {
      background-color: var(--bg-fon);
      transition: background-color 300ms linear;
      // & > div nav {
      //   & a.active {
      //     background-color: var(--activ-col);
      //   }
      // }
      input,
      button:not([class*="btn--primary"]) {
        background-color: var(--bg-col-inpt);
        transition: background-color 300ms linear;
      }
    }
    // div:hover {
    //   color: var(--activ-col) !important;
    //   background-color: var(--activ-bg) !important;
    // }
  }
}

// СТИЛИ ПРОЕКТА
:root {
  body {
    .UlbiTV {
      transition: background-color 300ms linear;
      &_DrADr .boards .board {
        background-color: var(--bg-col-inpt);
      }
      .card {
        // background: var(--bg-col-inpt) !important;
        background-color: var(--bg-col-inpt);
      }
    }
  }
}
