// ??? не раб - SCSS перем.цвета не обрабат. в CSS. В браузер прилетают названия SCSS. Все перем на CSS

// временно, для наглядности цвета
:root {
  --Red: #ff0000;
  --TrafficRed: #cd0000; // Транспортный красный
  --DarkRed: #8b0000; // темно-красный
  --PinkForest: #65000b; // Розовый Лес
  --CrimsonBrown: #4b0000; // коричнево-малиновый
  --DeepRedBrown: #490005; // Глубокий Красно-Коричневый
  --VeryDeepRed: #320a18; // Очень глубокий красный
  --WhiteAlum: #a3a3a3; // бело-алюминиевый
  --Gray: #808080; // серый
  --DullGray: #696969; // Тусклый Серый
  --WetAsphalt: #505050; // Мокрый Асфальта
  --BlueGray: #474b4e; // Синий серый
  --DarkBlueGray: #373737; // Тёмно синий серый
  --SignalBlack: #333333; // cигнальный черный
  --BlackBrown: #212121; // Черно Коричневый
  --AlmostBlack: #131313; // Почти черный
  --BlackAmber: #0a0a0a; // Черный янтарь
  --Black: #000000; // Черный
  --DeepYellow: #b57900; // Глубокий Желтый
  --MelonYellow: #f4a900; // Дынно-желтый
  --Gold: #ffd700; // золотой
  --Yellow: #ffff00; // жёлтый
  --Coffee: #442d25; // Кофейный
  --DeerBrown: #59351f; // Олень коричневый
  --BrownBeige: #8a6642; // Коричнево-Бежевый
  --BeigeBrown: #79553d; // Бежево-Коричневый
  --ModYelBrown: #7d512d; // Умеренный Желтый Коричневый
  --YellowBrown: #d2b48c; // Желто-Коричневый
  --NavajoWhite: #ffdead; // Белый навахо
}

// Цветовые переменные для Цв.Тем (Тёмной/Светлой/Средней) на атрибутах
body[data-theme="dark"] {
  --fon-dark: var(--Coffee);
  --el-dark: var(--BlackBrown);
  --el-light: var(--SignalBlack);
  --ui-bg: var(--DeerBrown);
  // --ui-col: var(--DeerBrown);
  --ui-act-col: var(--DeepYellow);
  --ui-act-bg: var(--ModYelBrown);
  --act-light: var(--MelonYellow);
  --act-dark: var(--PinkForest);
  --act-bg: var(--WetAsphalt);
  --act-bg-hov: var(--BlueGray);
  --act-bg-hov: var(--DarkBlueGray);
  --txt-col: var(--Black);
  --txt-leght: var(--DeepYellow);
  --txt-dark: var(--MelonYellow);
  --bord-hr: var(--DeepRedBrown);
}
body[data-theme="natural"] {
  --fon-dark: var(--BrownBeige);
  --el-light: var(--WetAsphalt);
  --el-dark: var(--SignalBlack);
  --ui-bg: var(--YellowBrown);
  // --ui-col: var(--YellowBrown);
  --ui-act-col: var(--Gold);
  // --ui-act-col: DarkRed;
  --ui-act-bg: var(--NavajoWhite);
  --act-light: var(--Gold);
  --act-dark: var(--DarkRed);
  --act-bg: var(--DullGray);
  --act-bg-hov: var(--WetAsphalt);
  --txt-col: var(--BlackAmber);
  --txt-leght: var(--DarkRed);
  --txt-dark: var(--TrafficRed);
  --bord-hr: var(--PinkForest);
}
body[data-theme="light"] {
  --fon-dark: var(--YellowBrown);
  --el-light: var(--WhiteAlum);
  --el-dark: var(--WetAsphalt);
  --ui-bg: #fff;
  // --ui-col: #fff;
  --ui-act-col: var(--Yellow);
  // --ui-act-col: var(--TrafficRed);
  --ui-act-bg: var(--NavajoWhite);
  --act-light: var(--Yellow);
  --act-dark: var(--TrafficRed);
  --act-bg: var(--Gray);
  --act-bg-hov: var(--DullGray);
  --txt-col: var(--AlmostBlack);
  --txt-leght: var(--TrafficRed);
  --txt-dark: var(--Red);
  --bord-hr: var(--DarkRed);
}

// ОБЩИЕ СТИЛИ
:root {
  body {
    background-color: var(--fon-dark);

    // цвет рамки для всех кроме ссылок и списков
    *:not(a):not(ul) {
      border-color: var(--bord-hr) !important;
    }
    hr {
      border-color: var(--bord-hr);
    }

    // ШАПКА / ПОДВАЛ
    .header,
    .footer {
      // анимация перехода
      background-color: var(--el-light);
      transition: background-color 900ms linear;
    }
    .footer {
      .copyright-container {
        background-color: var(--el-dark);
      }
    }

    // ссылки
    div nav {
      & a {
        // color: var(--activ-col) ;
        // background-color: var(--act-bg) ;
        &.active {
          color: var(--act-dark);
          background-color: var(--act-bg);
          transition: background-color 500ms linear, color 200ms linear;
        }
        &:hover {
          color: var(--act-light);
          background-color: var(--act-bg);
          transition: background-color 500ms linear, color 200ms linear;
        }
        & + ul {
          background-color: var(--act-bg) !important;
          a {
            color: var(--act-light) !important;
            background-color: var(--act-dark) !important;
          }
        }
      }
    }

    // ОСНОВНОЙ
    .main {
      background-color: var(--fon-dark);
      transition: background-color 300ms linear;

      // КНП
      input,
      button:not([class*="btn--primary"]) {
        background-color: var(--act-bg);
        // transition: background-color 200ms linear;
        &:hover {
          background-color: var(--act-bg-hov) !important;
        }
      }
      form {
        input {
          &:hover {
            background-color: var(--act-bg-hov);
          }
        }
        button {
          color: var(--act-light);
          background-color: var(--act-dark) !important;
          &:hover {
            // background-color: var(--act-bg-hov);
          }
        }
      }

      // модальные окна
      .modal {
        background-color: var(--ui-bg);
      }

      // карточки/сетка блоков
      .card {
        background-color: var(--ui-bg);
        border-color: var(--bord-hr);
      }

      // & > div nav {
      //   & a.active {
      //     background-color: var(--activ-col);
      //   }
      // }

      // div:hover {
      //   color: var(--activ-col) ;
      //   background-color: var(--act-bg) ;
      // }
    }
    // модальные окна
    .modal {
      background-color: var(--ui-bg);
    }
  }
}

// СТИЛИ ПРОЕКТОВ
:root {
  body {
    // выбор по атребуту для примен. стилей когда стран. откр. не в родителе (по общ. имени класса)
    div[class^="UlbiTV"] {
      /* &_DrADr */
      .boards .board,
      /* &_DrADr  */.item,
      .card {
        background-color: var(--ui-bg);
        border-color: var(--bord-hr);
      }
      // &_DrADr {
      .item,
      .card {
        &:hover {
          background-color: var(--ui-act-col);
        }
      }
      // }
    }
    //
    .BegPrj {
      &_Modal {
        .modal {
          background-color: var(--ui-bg);
        }
      }
      &_Quiz {
        div[class$="__content"] {
          background-color: var(--ui-bg);
          .progress,
          ul li {
            background-color: var(--act-bg);
          }
          ul li {
            // border-color: var(--act-bg);
            // border-color: #000;
            // border: 2px solid var(--bord-hr);
          }
        }
      }
      &_Users div[class*="__content"] {
        background-color: var(--act-bg);
        background-color: var(--ui-bg);
        .users-list {
          li {
            p {
              color: var(--txt-col);
            }
            h3 {
              color: var(--txt-leght);
            }
            &:hover {
              background-color: var(--act-bg-hov);
              h3 {
                color: var(--txt-dark);
              }
            }
          }
        }
        button {
          color: var(--txt-col);
          &:hover {
            // background-color: var(--el-dark);
          }
        }
      }
      // }
    }
    //
    .sw3btn-radio__dark:checked ~ .sw3btn-slider {
      background-color: var(--act-dark);
    }
    .sw3btn-radio__neutral:checked ~ .sw3btn-slider {
      background-color: var(--MelonYellow);
    }
  }
}

:root {
  //
  //
  --probCol: antiquewhite;
  --probCol: bisque;
  --probCol: moccasin;
  --probCol: wheat;
  --probCol: #d2b48c;
  --probCol: slategrey;
  --probCol: silver;
  --probCol: peachpuff;
  --probCol: lightsteelblue;
  --probCol: lightslategrey;
  --probCol: darkgrey;
  --probCol: rosybrown;
  --probCol: sienna;
  --probCol: #79553d; // Бежево-коричневый
  --probCol: #3d2b1f; // Бистр
  --probCol: #755c48; // Бледно-коричневый
  --probCol: #321414; // Ивово-коричневый
  --probCol: #371f1c; // Темный серо-красно-коричневый
  --probCol: #45161c; // Бурый
  --probCol: #490005; // Глубокий красно-коричневый
  --probCol: #4f0014; // Очень глубокий красный
  --probCol: #480607; // Болгарский розовый
  --probCol: #65000b; // Розовый лес
  --probCol: #721422; // Перламутрово-рубиновый
  --probCol: #7f180d; // Насыщенный красно-коричневый
  --probCol: #800000; // Коричнево-малиновый
  --probCol: #9b111e; // Рубиново-красный
  --probCol: #b32428; // Ориент красный
  --probCol: #5e2129; // Винно-красный
  --probCol: #734222; // Глиняный коричневый
  --probCol: #593315; // Глубокий желто-коричневый
  --probCol: #712f26; // Золотисто-каштановый
  --probCol: #79443b; // Известковая глина
  --probCol: #633a34; // Каштаново-коричневый
  --probCol: #a25f2a; // Камелопардовый
  --probCol: #884535; // Кирпичный
  --probCol: #b94e48; // Сочный каштановый Крайола
  --probCol: #af4035; // Средний карминный
  --probCol: #503d33; // Коричневато-серый
  --probCol: #442d25; // Кофейный
  --probCol: #4e3b31; // Темный терракотовый
  --probCol: #592321; // Красно-коричневый
  --probCol: #4c2f27; // Махагон коричневый
  --probCol: #8e402a; // Медно-коричневый
  --probCol: #904d30; // Терракотовый
  --probCol: #753313; //   Насыщенный коричневый
  --probCol: #642424; //   Оксид красный
  --probCol: #59351f; // Олень коричневый
  --probCol: #4d4234; // Оливковый серый
  --probCol: #a65e2e; // Оранжево-коричневый
  --probCol: #5b3a29; //   Орехово-коричневый
  --probCol: #3f2512; // Темный желтовато-коричневый
  --probCol: #32221a; //   Темный серо-коричневый
  --probCol: #320a18; // Очень темный красный
  --probCol: #6c3b2a; // Сигнальный коричневый
  --probCol: #45322e; // Шоколадно-коричневый
  --probCol: #714b23; // Сырая умбра
  --probCol: #464451; // Антрацитовый
  --probCol: #817066; // Средний серый
  --probCol: #fcdd76; // Песочный
  --probCol: #967117; // Песочный серо-коричневый
  --probCol: #cd853f; // Перу
  --probCol: #2c5545; //   Сосновый зеленый
  --probCol: #d68a59; //   Сырая охра
  --probCol: #909090; // Телегрей
  --probCol: #ff7e00; // Темный янтарь
  --probCol: #cc5500; // Жженый апельсин (Выгоревший оранжевый)
  --probCol: #f39f18;
  --probCol: #e4a010;
  --probCol: #b57900;
  //
  --probCol: #490005; // Глубокий красно-коричневый
  --probCol: #4f0014; // Очень глубокий красный
  --probCol: #480607; // Болгарский розовый
  --probCol: #65000b; // Розовый лес
  --probCol: #3d2b1f; // Бистр
  --probCol: #4c2f27; // Махагон коричневый
  --probCol: #9b111e; // Рубиново-красный
  --probCol: #442d25; // Кофейный
  --probCol: #464451; // Антрацитовый
  --probCol: #5b3a29; //   Орехово-коричневый
  //
  // --ui-bg dark
  // --probCol: #6c3b2a;
  // --probCol: #5b3a29;
  // --probCol: #59351f;
  // --probCol: #321414;
  // --probCol: #371f1c;
  //
  // --ui-bg natur
  // --probCol: #6c3b2a;
  // --probCol: #45322e;
  // --probCol: #714b23;
  // --probCol: #817066;
  // --probCol: #464451;
  // --probCol: #5b3a29;
  // --probCol: #4e3b31;
  // --probCol: #503d33;
  // --probCol: #755c48;
  // --probCol: #79553d;
  //
  // background-color: #87a96b; //   Спаржа Крайола
  // background-color: #317f43; //   Сигнальный зеленый
  // background-color: #08457e; // Темно-лазурный
  // background-color: #000080; //   Темно-синий
  // background-color: #0067a5; // Средний персидский синий
  // background-color: #1974d2; // Темно-синий Крайола
  // background-color: #00008b; // Темный ультрамариновый
  // background-color: #6a5acd; // Аспидно-синий
  // background-color: #3e5f8a; // Бриллиантово-синий
  // background-color: #0095b6; // Воды пляжа Бонди
  // background-color: #2b6cc4; // Светлый джинсовый
  // background-color: #007dff; // Синий Градуса
  // background-color: #2a52be; // Синяя лазурь (Лазурно-голубой)
  // background-color: #003399; // Синяя пыль
  // background-color: #1b5583; // Капри синий
  // background-color: #0047ab; // Кобальт синий (Кобальтовый)
  // background-color: #4169e1; // Королевский синий
  // background-color: #082567; // Сапфировый
  // background-color: #9370d8; // Средний пурпурный
  // background-color: #9932cc; // Темная орхидея
  // background-color: #660066; //   Сливовый
  // background-color: #8e4585; // Сливовый Крайола
  // background-color: #1d1e33; //   Сапфирово-синий
}
