$DarkRed: #8b0000; // темно-красный
$CrimsonBrown: #4b0000; // коричнево-малиновый
$WhiteAlum: #a3a3a3; // бело-алюминиевый
$DullGray: #707070; // тусклый серый
$WetAsphalt: #555555; // мокрый асфальта
$SignalBlack: #333333; // cигнальный черный
$red: #ff0000;
$yellow: #ffff00;
$orange: #ffa500;
$green: #008000;
$golub: #42aaff;
$blue: #0000ff;
$fiol: #8b00ff;
