.DayPlanToDo {
  .DayPlanToDo__content-- {
    // ПЕРВЫЙ БЛОК // ! классы постоянно динамически меняются
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    // обёртка TODO и DayPlan
    span {
      margin-top: 0;
      font-weight: 500;
      h2,
      h3 {
        display: block;
        font-size: 1.25em;
        margin-block-start: 0.7em;
        // margin-block-end: 1em;
        // margin-inline-start: 0px;
        // margin-inline-end: 0px;
        // font-weight: bold;
      }
      // цвет блоков
      & > div {
        background-color: var(--ui-bg);
      }
      // кнп.
      button,
      input {
        margin: 0 0 0 5px;
        padding: 5px;
        border: 1px solid #bd0000;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 200ms, transform 100ms linear;
      }
      button {
        padding: 5px 10px;
      }
    }
    // TODO ----------------------------------------------------------------------------------
    span:first-child > div {
      // вычёркивание из TODO
      .strikethrough {
        text-decoration: line-through;
      }
      // forma в TODO
      form {
        // float: left;
        // padding-left: 1rem;
        // padding-right: 1rem;
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      // блок заданий
      & > div {
        // width: 100%;
        // margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        // строки заданий
        & > div {
          // кроме 1ой строки
          &:not(:first-child) {
            padding: 5px 0 0;
          }
          // задание
          & > span:first-child {
            padding-left: 0;
          }
          // кнп. задания
          & > span:last-child {
            padding-right: 0rem;
          }
        }
      }
    }
    // DAYPLAN ----------------------------------------------------------------------------------
    span:last-child > div {
      // background: #0f0;
    }
  }
}
